/*index*/
#fundo-h{
    background-image: url('img/fundoh.png');
    background-size: cover;
}
#button-tb{
    background-image: url('img/button-tb.png');
    background-size: cover;
    background-color: transparent;
    background-position: center;
    position: absolute;
    bottom: 10%;
    right: 8%;
    height: 8%;
    width: 3%;
    border: none;
    cursor: pointer;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
#button-tb:active{
    background-color: red;
}

/*tarefa.html*/
#text{
    text-align: center;
    font-size: 100px;
}

#trabalhos{
    position: absolute;
    top: 30%;
    bottom: 20%;
    left: 7%;
    right: 7%;
    
}
li{
    width: 10px;
    display: inline;
}
#tarefa1 button{
    background-image: url('img/button-t.png');
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 20px 90px;
    margin: 1%;
}
#tarefa1 button:active{
    background-image: url('img/button-t-c.png');
}
#tarefa2 button{
    background-image: url('img/button-t.png');
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 20px 90px;
    margin: 1%;
}
#tarefa2 button:active{
    background-image: url('img/button-t-c.png');
}
#tarefa3 button{
    background-image: url('img/button-t.png');
    background-position: center;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 20px 90px;
    margin: 1%;
}
#tarefa3 button:active{
    background-image: url('img/button-t-c.png');
}

/*body padrao*/
header{
    background-color: red;
    position: absolute;
    top: 0;
    width: 100%;
    height: 15%;
}
#voltar{
    background-image: url('img/button-tb.png');
    background-size: cover;
    background-color: transparent;
    background-position: center;
    position: absolute;
    top: 25%;
    left: 2%;
    height: 50%;
    width: 3%;
    border: none;
    cursor: pointer;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
#voltar:active{
    background-color: blue;
}
.fundo{
    background-image: url('img/fundo.png');
    background-size: cover;
}
/*footer*/
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: gray;
    text-align: center;
}
.copyright{
    margin: 10px;
    color: white;
}