body{
    background-image: url(../img/fundo.png);
    background-size: cover;
}
header{
    background-color: rgb(255, 0, 0);
    padding: 30px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.text{
    font: bolder;
    font-size: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
}

#button-home{
    background-image: url('../img/button-tb.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 40px;
    height: 55px;
    position: absolute;
    top: 20px;
    left: 20px;
    border: none;
    cursor: pointer;
}
#button-home:active{
    background-color: rgb(37, 0, 247);
}
footer{
    background-color: gray;
    padding: 3px ;
    color: white;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 99.5%
}
main{
    padding: 150px;
    text-align: center;
}
h2{
    color: white;
    font-size: 50px;
    text-align: center;
}
h3{
    color: white;
    font-size: 20px;
    text-align: center;
}
#button{
    text-align: center;
    padding: 30px;
}